
@{
    ViewData["Title"] = "Welcome to PizzaBox!";
}
    <p><a asp-action="Store" class="btn-dark">Order a Pizza</a></p>
    <p><a asp-action="History"  class="btn-dark">Order History</a></p>
    <p><a asp-action="Inventory" class="btn-dark">Inventory</a></p>
    

<h1>Index</h1>


